<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CalcOpener3000.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CalcOpener3000.Properties.Settings>
            <setting name="open_calc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dontopenmultiplecalcs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="aero" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="calc_path" serializeAs="String">
                <value>C:\Windows\System32\calc1.exe</value>
            </setting>
        </CalcOpener3000.Properties.Settings>
    </userSettings>
</configuration>